header {
  width: 75%;
  margin: auto;
  padding: 44px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1C2A39;
}
header .nav-item {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 0 20px;
  color: #5C6A79;
  transition: all 0.3s ease;
}
header .nav-item:hover {
  color: #1C2A39;
  text-shadow: 0 0 1px #1C2A39;
}
header .menu-item {
  padding-left: 40px;
}
header .menu-item:first-child {
  padding-left: 0;
}

.banner {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 50px;
}
.banner .owl-container {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.banner .owl-container .banner-item {
  width: 100%;
}
.banner .owl-container .owl-nav {
  position: absolute;
  top: 2%;
  right: 3%;
  display: flex;
  flex-direction: row;
}
.banner .owl-container .owl-nav .owl-prev, .banner .owl-container .owl-nav .owl-next {
  display: block;
  background-color: #ffffff;
  border: 1px solid #534FD2;
  width: 50px;
  height: 27px;
  border-radius: 25px;
  position: relative;
  margin-right: 5px;
  outline-style: none;
}
.banner .owl-container .owl-nav .owl-prev:hover, .banner .owl-container .owl-nav .owl-next:hover {
  background-color: #bcb9ff;
}
.banner .owl-container .owl-dot {
  outline-style: none;
}
.banner .banner-picture {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.banner .promo1 {
  right: 74px;
  top: 79px;
  width: 149px;
  background-color: #9e98dc;
  padding: 102px 20px 20px 20px;
}
.banner .promo1 .text {
  background-color: #9e98dc;
  text-transform: uppercase;
  color: #1c2a39;
  max-width: 109px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.banner .promo1 img {
  background-color: #9e98dc;
}
.banner .promo2 {
  bottom: 79px;
  right: -20px;
  width: 158px;
  background-color: #ff9fe6;
  padding: 149px 47px 20px 20px;
}
.banner .promo2 .text {
  text-transform: uppercase;
  background-color: #ff9fe6;
  color: #1c2a39;
  max-width: 69px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.banner .promo2 img {
  background-color: #ff9fe6;
}
.banner .promo-link {
  z-index: 4;
  position: absolute;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: transform 0.4s ease-in;
}
.banner .promo-link:hover {
  transform: translate(-10px, -5px);
}

.mobile-promo {
  width: 75%;
  display: none;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 50px;
}
.mobile-promo .promo-block {
  border-radius: 25px;
  padding: 20px;
  text-align: end;
}
.mobile-promo .promo-block.promo1 {
  width: 60%;
  height: 100px;
  background-color: #9e98dc;
}
.mobile-promo .promo-block.promo1 .text {
  background-color: #9e98dc;
  text-transform: uppercase;
  color: #1c2a39;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.mobile-promo .promo-block.promo1 img {
  background-color: #9e98dc;
}
.mobile-promo .promo-block.promo2 {
  width: 40%;
  height: 100px;
  margin-left: 15px;
  background-color: #ff9fe6;
}
.mobile-promo .promo-block.promo2 .text {
  background-color: #ff9fe6;
  text-transform: uppercase;
  color: #1c2a39;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.mobile-promo .promo-block.promo2 img {
  background-color: #ff9fe6;
}

.hide {
  display: none;
}

.main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.main .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 710px;
}
.main .catalog::after {
  content: "";
  width: 1000px;
  height: 100%;
  position: absolute;
  top: -40px;
  right: -50px;
  z-index: -1;
  background: #EFEEF6;
}
.main .catalog .catalog-item {
  position: relative;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #5C6A79;
  padding-bottom: 18px;
  transition: all 0.4s ease;
}
.main .catalog .catalog-item:hover {
  transform: translateX(20px);
  text-shadow: 0px 0px 1px #1c2a39;
}
.main .catalog .catalog-item:hover::after {
  position: absolute;
  left: -20px;
  top: 6px;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 25px;
  background-color: #756AD3;
}
.main .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}
.main .items .item {
  max-width: 424px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-right: 15px;
}
.main .items .item .item-picture {
  max-width: 212px;
  max-height: 300px;
  object-fit: cover;
}
.main .items .item .item-description {
  padding-left: 36px;
}
.main .items .item .item-description .author {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5C6A79;
}
.main .items .item .item-description .item-name {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1c2a39;
  padding-top: 4px;
}
.main .items .item .item-description .rating {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 16px;
  color: #5C6A79;
}
.main .items .item .item-description .item-text {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5C6A79;
}
.main .items .item .item-description .item-cost {
  padding: 16px 0px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.main .items .item .item-description .buy-button {
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0;
  border: 1px solid #4c3db2;
  color: #4c3db2;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.main .items .item .item-description .buy-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #4c3db2;
  visibility: hidden;
  transition: 0.3s ease-in;
  z-index: -1;
}
.main .items .item .item-description .buy-button:hover {
  color: #ffffff;
}
.main .items .item .item-description .buy-button:hover::after {
  visibility: visible;
  transform: translateX(0%);
}
.main .items .item .mobile-buy-button {
  position: relative;
  text-align: center;
  display: none;
  text-transform: uppercase;
  padding: 18px 0;
  border: 1px solid #4c3db2;
  color: #4c3db2;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.main .items .item .mobile-buy-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #4c3db2;
  visibility: hidden;
  transition: 0.3s ease-in;
  z-index: -1;
}
.main .items .item .mobile-buy-button:hover {
  color: #ffffff;
}
.main .items .item .mobile-buy-button:hover::after {
  visibility: visible;
  transform: translateX(0%);
}

footer {
  background-color: #efeef6;
  border-top: 2px solid #a5b3c1;
}
footer .container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 34px 0;
}
footer .container .menu {
  display: flex;
  flex-direction: column;
}
footer .container .menu .logo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1C2A39;
  padding-bottom: 7px;
}
footer .container .menu .menu-item {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 7px;
  color: #5C6A79;
  transition: all 0.3s ease;
}
footer .container .menu .menu-item:last-child {
  padding-bottom: 0;
}
footer .container .menu .menu-item:hover {
  color: #1C2A39;
  text-shadow: 0 0 1px #1C2A39;
}
footer .container .contact-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1C2A39;
  padding-bottom: 15px;
}
footer .container .input {
  display: flex;
}
footer .container .input .email-input {
  display: block;
  border-radius: 4px 0 0 4px;
  height: 40px;
  max-width: 328px;
  padding: 0px 16px;
  color: #5C6A79;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid #B3C3D5;
  outline-style: none;
}
footer .container .input .input-button {
  display: block;
  width: 120px;
  height: 40px;
  color: white;
  background: #1C2A39;
  border-radius: 0 4px 4px 0;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  outline-style: none;
}
footer .container .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .social .social-item {
  color: #5C6A79;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
footer .container .social .social-item .bold {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
footer .container .social .social-icons {
  display: flex;
  flex-direction: row;
}
footer .container .social .social-icons .social-icon {
  margin-left: 10px;
}

@media screen and (max-width: 1295px) {
  .mobile-promo {
    display: flex;
  }

  .promo {
    display: none;
  }
}
@media screen and (max-width: 1098px) {
  .main .items .item {
    flex-direction: column;
  }
  .main .items .item .item-description {
    display: none;
  }
  .main .items .item .mobile-buy-button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .social {
    margin-top: 10px;
  }
  footer .container .social .social-icons {
    justify-content: center;
  }
}
@media screen and (max-width: 966px) {
  .nav {
    display: none;
  }

  .menu {
    display: none;
  }

  .main .items {
    width: 60%;
    margin-left: 20px;
  }
  .main .catalog {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  footer .container .contact .email-input {
    width: 30%;
  }
  footer .container .contact input::placeholder {
    content: "Your email...";
  }

  .banner .owl-container {
    width: 100%;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }
  .main .catalog::after {
    left: -300px;
  }
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=home.css.map */
