@media (max-width:1295px){
    .mobile-promo{
        display: flex;
    }
    .promo{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}