@media screen and (max-width:1295px){
    .mobile-promo{
        display: flex;
    }
    .promo{
        display: none;
    }
}
@media screen and (max-width:1098px){
    .item{
        flex-direction: column;
    }
    .item-description{
        display: none;
    }
    .mobile-buy-button{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .container{
        flex-direction: column;
        .social{
            align-items: flex-start;
        }
    }
}
@media screen and (max-width:966px){
    .nav{
        display: none;
    }
}
